*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Home {
    background-image: url('./assets/images/bgcHomeDesk.png');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-position: left top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.Education, .Contact, .Project, .Experience{
    background-image: url('./assets/images/bgc.png');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-position: left top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.About{
    background-image: url('./assets/images/bgcAbt.png');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-position: left top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media (max-width: 460px) {
    .Home {
        height: 100vh;
        background-image: url('./assets/images/bgcHomeMbl.png');
        background-size: cover;
        background-position: left top;
        background-attachment: fixed;
    }
}

.Nav{
    height: 15vh;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: end;
}

.Nav > nav{
    display: flex;
    align-items: center;
    gap: 60px;
    font-size: 1.3em;
    padding-right: 25px;
    letter-spacing: 2px;
}

.Nav > nav > span{
    cursor: pointer;
}

.Nav > nav > span:hover{
    transform: scale(1.05);
}

#NameInNav{
    font-size: 17px;
    font-weight: bolder;
    box-shadow: 2px 2px 10px rgb(1, 204, 255);
    background: aqua;
    padding: 5px 5px ;
    border-radius: 7px;
    color: rgb(0, 0, 0);
}

.Home > .container{
    color: rgb(255, 255, 255);
    margin: 0 2vw 0 35vw;
    height: 70vh;
}

.Home > div1{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.Home > div1 > h3{
    font-size: 20px;
    color: aqua;
}

.Home > div1 :nth-child(2){
    font-size: 5rem;
}
.Home > div1 :nth-child(3){
    padding: 5px 10px;
    color: black;
    background-color: aqua;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgb(25, 0, 255);
    font-size: 3rem;
}

.Home > div1 :nth-child(3):hover{
    transform: scale(1.01);
    cursor: none;
}

.Home > div1 :nth-child(4){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    font-weight: 800;
    padding: 20px;
    width: 65%;
    font-size: 1.5rem;
    margin-top: 10px;
}

.About > .About-Content{
    color: white;
    height: 60vh;
    width: 60vw;
    margin: 4vh 0 0 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.About > .About-Content > h1:nth-of-type(1) {
    font-size: 35px;
}

.About > .About-Content > hr{
    width: 40%;
    height: 8px;
    border: 2px solid cyan;
    background-color: cyan;
}

.About > .About-Content > p{
    padding: 0 80px;
    text-align: justify;
    font-size: 16px;
}

.About > .About-Content > h1:nth-of-type(2) {
    font-size: 25px;
    align-self: normal;
    padding: 0 80px;
}
.About > .About-Content > div{
    align-self: normal;
    padding: 0 80px;
    display: flex;
    gap: 25px;
}

.About > .About-Content > div > h3{
    padding: 2px 15px;
    border: 2px solid white;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
}
.About > .About-Content > div > h3:hover{
    transform: scale(1.05);
    color: cyan;
    border: 2px solid cyan;
}

.Education > div1 {
    display: flex;
    flex-direction: column;
    height: 70vh;
    color: white;
    margin: 0 20px;
}
.Education > div1 > h1{
    font-size: 90px;
    align-self: end;
    margin-right: 15vw;
    color: #ffffff00;
    -webkit-text-stroke: 2px white;
}

.Education > div1 > div2{
    margin-top: 20px;
    padding: 0 30px;
    display: flex;
    width: 90vw;
    height: 40vh;
}

.Education > div1 > div2 > div3{
    padding: 30px;
    width: 60%;
}

.Education > div1 > div2 > div3 > h1 {
    font-size: 40px;
    width: 60%;
}

.Education > div1 > div2 > div3 > hr {
    width: 32%;
    height: 8px;
    margin: 10px 0;
    border: 2px solid cyan;
    background-color: cyan;
}

.Education > div1 > div2 > div3 > p{
    width: 80%;
    font-size: 20px;
}

.Education > div1 > div2 > div4{
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 10px;
}

.Education > div1 > div2 > div4 > div5 > h1{
    font-size: 30px;
}
.Education > div1 > div2 > div4 > div5 > h3{
    font-weight: 400;
    font-size: 20px;
    padding-top: 5px;
}

.Contact > div1{
    color: #fff;
    text-align: center;
}

.Contact > div1 > h1{
    font-size: 40px;
}

.Contact > div1 > p{
    font-weight: 600;
    color: aqua;
    font-size: 18px;
    margin-top: 10px;
}

.Contact > div2{
    color: #fff;
    width: 100vw;
    padding: 80px 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Contact > div2 > div3 > img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}
.Contact > div2 > div3{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Contact > div2 > div3 > h2{
    padding: 24px 0 10px 0;
    font-size: 18px;
}

.Contact > div2 > div3 > p{
    font-size: 15px;
    padding: 10px;
}

.Contact > div4{
    text-align: center;
    color: #fff;
}

.Contact > div4 > h1{
    padding-top: 15px;
    font-size: 80px;
    color: #ffffff00;
    font-stretch: extra-expanded;
    -webkit-text-stroke: 2px white;
}

.email{
    text-decoration: none;
    color: #fff;
}

.socialMedia{
    width: 35px;
    height: 35px;
}